# Build output
build/
*.exe
*.o
*.obj
*.out
*.a
!lib/libglfw3.a
/main
/snowman
/castle

# VSCode
.vscode/ipch/
.vscode/*.log
*.code-workspace

# Compiler / debug artifacts
*.pdb
*.ilk
*.exp
*.lib

# OS
Thumbs.db
Desktop.ini
